{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_slider and section.blocks.size > 3 -%}
<link rel="stylesheet" href="{{ 'homepage-component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'homepage-component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{{ 'component-card.css' | asset_url | stylesheet_tag }}

<style>
  .card__button {
    border: 1px solid {{ section.settings.button_border_color }};
    color: {{ section.settings.button_text_color }};
    background-color: {% if section.settings.button_bg_color != blank %}{{ section.settings.button_bg_color }}{% else %}transparent{% endif %};
  }
</style>

<div class="collection-list-wrapper {% unless section.settings.enable_slider %}no-slider{% endunless %}">
  <slider-component class="slider-mobile-gutter">
    <ul class="collection-list grid grid--1-col{% if section.blocks.size < 5 %} grid--{{ section.blocks.size }}-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.enable_slider %} slider slider--tablet{% endif %} grid--peek collection-list--{{ section.blocks.size }}-items"
      id="Slider-{{ section.id }}"
      role="list"
    >
      {%- for block in section.blocks -%}
        <li class="collection-list__item grid__item {% if section.settings.enable_slider %}slider__slide{% endif %}" {{ block.shopify_attributes }}>
          <div class="card--stretch card-colored">
            {%- if block.settings.collection.featured_image != blank -%}
                <div class="media media--hover-effect overflow-hidden">
                  <img srcset="{%- if block.settings.collection.featured_image.width >= 165 -%}{{ block.settings.collection.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 330 -%}{{ block.settings.collection.featured_image | img_url: '330x' }} 330w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 535 -%}{{ block.settings.collection.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 720 -%}{{ block.settings.collection.featured_image | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 940 -%}{{ block.settings.collection.featured_image | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 1440 -%}{{ block.settings.collection.featured_image | img_url: '1440x' }} 1440w,{%- endif -%}
                    {%- if block.settings.collection.featured_image.width >= 1880 -%}{{ block.settings.collection.featured_image | img_url: '1880x' }} 1880w{%- endif -%}"
                    src="{{ block.settings.collection.featured_image | img_url: '533x' }}"
                    sizes="(min-width: 1100px){% if section.blocks.size > 1 %}535px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
                    alt="{{ block.settings.collection.title | escape }}"
                    height="{{ block.settings.collection.featured_image.height }}"
                    width="{{ block.settings.collection.featured_image.width }}"
                    loading="lazy"
                    class="motion-reduce"
                  >
              </div>

              <div class="card__text card__text-spacing card-colored card__text-hover">
                <h3 style="color: {{ section.settings.title_color }}">
                   {%- if block.settings.title != blank -%}
                    {{- block.settings.title | escape -}}
                  {%- elsif block.settings.collection.title != blank -%}
                    {{- block.settings.collection.title | escape -}}
                  {%- else -%}
                    {{ 'onboarding.collection_title' | t }}
                  {%- endif -%}
                </h3>
              </div>
            {%- else -%}
              <div class="heroBanner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="card__text card__text-spacing card__text-hover">
                <h3 class="h1" style="color: {{ section.settings.title_color }}">
                  {%- if block.settings.title != blank -%}
                    {{- block.settings.title | escape -}}
                  {%- elsif block.settings.collection.title != blank -%}
                    {{- block.settings.collection.title | escape -}}
                  {%- else -%}
                    {{ 'onboarding.collection_title' | t }}
                  {%- endif -%}
                </h3>
              </div>
            {%- endif -%}
            <a class="button card__button" href="{{ block.settings.collection.url }}">{{ 'sections.collection_list.shop_now' | t }}</a>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if section.settings.enable_slider -%}
      <div class="slider-buttons no-js-hidden">
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'svg-files', name: 'rounded-arrow' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'svg-files', name: 'rounded-arrow' %}</button>
      </div>
    {%- endif -%}
  </slider-component>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "spaced-section collection-list-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "t:sections.collection-list.settings.enable_slider.label",
      "default": true
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.collection-list.settings.title.color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "t:sections.collection-list.settings.button_bg_color.label"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "t:sections.collection-list.settings.button_border_color.label",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.collection-list.settings.button_text_color.label",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.title.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
