{{ 'section-homepage-hero-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_scroll_icon -%}
  <script src="{{ 'hero-banner.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    {%- if section.settings.mobile_image != blank -%}@media screen and (min-width: 750px){ {%- endif -%}
    #heroBanner-{{ section.id }}::before, #heroBanner-{{ section.id }} .heroBanner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    } {%- if section.settings.mobile_image != blank -%}}{%- endif -%}
  {%- endstyle -%}
{%- endif -%}

{%- if section.settings.adapt_height_first_image and section.settings.mobile_image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #heroBanner-{{ section.id }} .heroBanner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.mobile_image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

<div id="heroBanner-{{ section.id }}" class="heroBanner{% if section.settings.adapt_height_first_image and section.settings.image != blank %} heroBanner--adapt{% endif %}">
  {%- if section.settings.image != blank -%}
    <div class="heroBanner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
        sizes="100vw"
        src="{{ section.settings.image | img_url: '750x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        {%- if section.settings.mobile_image != blank -%}class="heroBanner__media--mobileHidden"{%- endif -%}
      >
      {%- if section.settings.mobile_image != blank -%}
        <img srcset="{%- if section.settings.mobile_image.width >= 375 -%}{{ section.settings.mobile_image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 750 -%}{{ section.settings.mobile_image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 1100 -%}{{ section.settings.mobile_image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 1500 -%}{{ section.settings.mobile_image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 1780 -%}{{ section.settings.mobile_image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 2000 -%}{{ section.settings.mobile_image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.mobile_image.width >= 2800 -%}{{ section.settings.mobile_image | img_url: '2800x' }} 2800w{%- endif -%}"
          sizes="100vw"
          src="{{ section.settings.mobile_image | img_url: '750x' }}"
          loading="lazy"
          alt="{{ section.settings.mobile_image.alt | escape }}"
          width="{{ section.settings.mobile_image.width }}"
          height="{{ section.settings.mobile_image.width | divided_by: section.settings.mobile_image.aspect_ratio }}"
          class="heroBanner__media--desktopHidden"
        >
      {%- endif -%}
    </div>
  {%- else -%}
    <div class="heroBanner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  <div class="heroBanner__content page-width" style="align-items: {{ section.settings.desktop_text_box_position }};">
    <div class="heroBanner__box heroBanner__box--{{ section.settings.box_size }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 style="color: {{ block.settings.heading_color }}" class="heroBanner__heading heroBanner__heading--{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'button' -%}
            <style>
              .heroBanner__buttonWrapper .button {
                border: 1px solid {{ block.settings.button_border_color }};
                color: {{ block.settings.button_text_color }};
                background-color: {% if block.settings.button_bg_color != blank %}{{ block.settings.button_bg_color }}{% else %}transparent{% endif %};
              }
            </style>
            <div class="heroBanner__buttonWrapper" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button button--primary button--{{ block.settings.mobile_button_style }}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label | escape }}</a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    {%- if section.settings.enable_scroll_icon -%}
      <button type="button" class="heroBanner__scrollButton">
        {% render 'svg-files', name: 'rounded-arrow' %}
      </button>
    {%- endif -%}
  </div>
</div>

{% if section.settings.enable_scroll_icon %}
  <script>
    window.onload = () => {
      typeof ScrollToSection !== 'undefined' && new ScrollToSection();
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.hero-banner.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.hero-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.hero-banner.settings.image.label"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.hero-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.hero-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.hero-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.hero-banner.settings.desktop_text_box_position.label"
    },
    {
      "type": "select",
      "id": "box_size",
      "options": [
        {
          "value": "wide",
          "label": "t:sections.hero-banner.settings.box_size.options__1.label"
        },
        {
          "value": "narrow",
          "label": "t:sections.hero-banner.settings.box_size.options__2.label"
        }
      ],
      "default": "narrow",
      "label": "t:sections.hero-banner.settings.box_size.label"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.hero-banner.settings.adapt_height_first_image.label"
    },
    {
      "type": "checkbox",
      "id": "enable_scroll_icon",
      "default": true,
      "label": "t:sections.hero-banner.settings.enable_scroll_icon.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.hero-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Hero banner",
          "label": "t:sections.hero-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "big",
              "label": "t:sections.hero-banner.blocks.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.hero-banner.blocks.heading_size.options__2.label"
            },
            {
              "value": "small",
              "label": "t:sections.hero-banner.blocks.heading_size.options__3.label"
            }
          ],
          "default": "big",
          "label": "t:sections.hero-banner.blocks.heading_size.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.hero-banner.blocks.heading_color.label",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.hero-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.hero-banner.blocks.buttons.settings.button_label.label",
          "info": "t:sections.hero-banner.blocks.buttons.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.hero-banner.blocks.buttons.settings.button_link.label"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "t:sections.hero-banner.blocks.buttons.settings.button_bg_color.label"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "t:sections.hero-banner.blocks.buttons.settings.button_border_color.label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:sections.hero-banner.blocks.buttons.settings.button_text_color.label",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "mobile_button_style",
          "options": [
            {
              "value": "full",
              "label": "t:sections.hero-banner.blocks.buttons.settings.mobile_button_style.options__1.label"
            },
            {
              "value": "fitContent",
              "label": "t:sections.hero-banner.blocks.buttons.settings.mobile_button_style.options__2.label"
            }
          ],
          "default": "fitContent",
          "label": "t:sections.hero-banner.blocks.buttons.settings.mobile_button_style.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
